<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>山东英科环保再生资源股份有限公司</key>
	<array>
		<string>环保1</string>
		<string>环保2</string>
		<string>环保3</string>
	</array>
	<key>山东英科医疗用品有限公司</key>
	<array>
		<string>医疗1</string>
		<string>医疗2</string>
		<string>医疗3</string>
	</array>
	<key>上海英科</key>
	<array>
		<string>上海1</string>
		<string>上海2</string>
		<string>上海3</string>
	</array>
	<key>镇江英科</key>
	<array>
		<string>镇江1</string>
		<string>镇江2</string>
		<string>镇江3</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 5</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 6</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 7</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 8</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保- 9</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 10</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 11</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 12</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 13</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 14</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 15</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 16</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 17</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 18</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 19</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 20</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
	<key>山东英科环保再生资源股份有限公司 - 21</key>
	<array>
		<string>102</string>
		<string>103</string>
		<string>111</string>
	</array>
</dict>
</plist>
